<h1>Listing categories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Reports</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.reports.size %></td>
        <td><%= link_to 'Show', category, class: 'btn-show' %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: 'btn-edit' %></td>
        <td>
          <%= link_to 'Destroy', category, method: :delete,
            class: 'btn-destroy', data: { confirm: 'Are you sure?' } if category.reports.size == 0 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: 'btn btn-link' %>
