<h1>Listing categories</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Reports</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr data-id="<%= category.id %>">
        <td><%= category.name %></td>
        <td><%= category.reports.size %></td>
        <td>
          <%= link_to 'Show', category, class: 'btn-show' %>
          <%= link_to 'Edit', edit_category_path(category), class: 'btn-edit' if can? :edit, category %>
          <% if can? :destroy, category and category.reports.size == 0 %>
            <%= link_to 'Destroy', category, method: :delete, class: 'btn-destroy', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: 'btn btn-link' %>
