<%= form_for(report, html: { class: 'simple-form' } ) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, categories, :id, :name, prompt: '-- Select --' %>
  </div>
  <ul class="report-pictures media-list">
    <%= f.fields_for :pictures do |picture_field| %>
      <%= render 'picture_item', f: picture_field %>
    <% end %>
  </ul>
  <div class="clear"></div>
  <div class="actions">
    <%= f.submit class: 'submit' %>
  </div>
<% end %>
