<h1>Listing reports</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.slug %></td>
        <td><%= link_to 'Show', report, class: 'btn-show' %></td>
        <td><%= link_to 'Edit', edit_report_path(report), class: 'btn-edit' %></td>
        <td><%= link_to 'Destroy', report, method: :delete, class: 'btn-destroy', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path, class: 'btn btn-link' %>
