<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @report.body %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @report.slug %>
</p>

<%= link_to 'Edit', edit_report_path(@report), class: 'btn btn-link' %> |
<%= link_to 'Back', reports_path, class: 'btn btn-link' %>
